@import "../../design-tokens/css/_variables.css";

:host {
  display: block;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}
p {
  font-family: 'var(--hs-typography-text-styles-body-p2-section-header-font-family)', sans-serif;
  /*font-family: "Comic Sans MS";*/
}

.small {
  font-size: 12px;
}

.medium {
  font-size: 16px;
}

.large {
  font-size: 20px;
}

