@import "../../design-tokens/css/_variables.css";

.bm-tab,
.bm-tab--selected {
  display: block;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  transition: border-bottom .4s;
  border-bottom: 3px solid transparent;

  font-family: 'var(--hs-typography-text-styles-body-p2-section-header-font-family)', sans-serif;
}

.bm-tab:hover {
  font-weight: 600;
}

.bm-tab--selected {
  font-weight: 600;
  border-bottom: 4px solid var(--hs-color-background-color-background-primary);
}
