@import "../../design-tokens/css/_variables.css";

:host {
  display: block;
}

button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

button.primary {
  color: var(--hs-color-typography-text-color-text-neutralcool-lighter);
  background-color: var(--hs-color-buttons-primary-button-color-buttonbackground-primary-default);
}

button.secondary {
  color: var(--hs-color-typography-text-color-text-neutralcool-lighter);
  background-color: var(--hs-color-buttons-secondary-button-color-buttonbackground-secondary-default);
}

button.success {
  color: var(--hs-color-typography-text-color-text-neutralcool-lighter);
  background-color: var(--hs-color-buttons-success-button-color-buttontext-success-default);
}

button.warning {
  color: var(--hs-color-typography-text-color-text-neutralcool-lighter);
  background-color: var(--hs-color-buttons-warning-button-color-buttontext-warning-default);
}

button.error {
  color: var(--hs-color-typography-text-color-text-neutralcool-lighter);
  background-color: var(--hs-color-buttons-danger-button-color-buttonborder-danger-default);
}

button.small {
  font-size: 12px;
  padding: 10px 16px;
}

button.medium {
  font-size: 14px;
  padding: 11px 20px;
}

button.large {
  font-size: 16px;
  padding: 12px 24px;
}

