@import "../../design-tokens/css/_variables.css";

:host {
  display: block;
}

div {
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-family: 'var(--hs-typography-text-styles-body-p2-section-header-font-family)', sans-serif;
  font-weight: var(--hs-typography-text-styles-body-p2-section-header-font-weight);
  font-size: var(--hs-typography-text-styles-body-p2-section-header-font-size);
  /* border: 2px solid black; */
  color: var(--hs-color-typography-text-color-text-neutralcool-darker);
  padding: 5px 17px;
  border-radius: 5px;
}

div.default {
  background-color: var(--hs-color-coor-palette-neutral-warm-color);
  border: 2px solid var(--hs-color-coor-palette-neutral-warm-color-darker);
}
div.default:hover {
  background-color: var(--hs-color-coor-palette-neutral-warm-color-darker);
  border: 2px solid var(--hs-color-coor-palette-neutral-warm-color-darker);
}
div.default:focus {
  background-color: var(--hs-color-coor-palette-neutral-warm-color);
  border: 2px solid var(--hs-color-coor-palette-neutral-warm-color-darkest);
}

div.hollow {
  background-color: var(--hs-color-coor-palette-neutral-warm-color-lighter);
  border: 2px solid var(--hs-color-coor-palette-neutral-warm-color);
}
div.hollow:hover {
  background-color: var(--hs-color-coor-palette-neutral-warm-color);
  border: 2px solid var(--hs-color-coor-palette-neutral-warm-color);
}
div.hollow:focus {
  background-color: var(--hs-color-coor-palette-neutral-warm-color-lighter);
  border: 2px solid var(--hs-color-coor-palette-neutral-warm-color-darker);
}

div.primary {
  background-color: var(--hs-color-coor-palette-primary-color-lighter);
  border: 2px solid var(--hs-color-coor-palette-primary-color);
}
div.primary:hover {
  background-color: var(--hs-color-coor-palette-primary-color);
  border: 2px solid var(--hs-color-coor-palette-primary-color);
}
div.primary:focus {
  background-color: var(--hs-color-coor-palette-primary-color-lighter);
  border: 2px solid var(--hs-color-coor-palette-primary-color-darker);
}